@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: white;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Nunito', Arial, sans-serif;
}

.carousel-container {
  width: 100%;
  max-width: 700px;
  margin: auto;
  padding: 20px;
}

.mySwiper .swiper-slide {
  width: 200px;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.mySwiper .swiper-slide-active {
  transform: scale(1.1); /* Enlarge the active slide */
}

.item-card {
  width: 180px;
  text-align: center;
}

.swiper-pagination-bullet {
  background-color: gray;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  background-color: white;
  opacity: 1;
}